html{
    height: 95vh;
    font-family: Helvetica, sans-serif;
    background-color: rgb(78, 40, 4);
    border-style: solid;
    border-radius: 10px;
    border-width: 22px;
    border-color: darkorange;
    margin: 0;
}

body{
    height: 85vh;
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    text-shadow: 3px 3px 5px green;
    border-style: solid;
    border-radius: 10px;
    border-color: darkorange;
    padding: 30px;
    margin: 20px;
    margin-top: 15px;
    align-items: center;
    background-color: darkslateblue;
}

img
{
    height: auto;
width: 350px;
border-radius: 10px;
}
#topLeft, #topMiddle, #topRight, #main, #middleLeft,
#middleMiddle, #middleRight, #bottomMiddle, #bottomLeft,
#bottomMiddle, #bottomRight
{
    border-style: solid;
    border-radius: 10px;
    border-color: darkorange;
    height: 85%;
    padding: 5px;
    margin: 15PX;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#middleLeft,
#middleMiddle, #middleRight
{
background-color: darkslateblue;
}

#topLeft
{
    grid-column: 1 / 1;
}
#topMiddle
{
    grid-column: 2 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#topRight
{
    grid-column: 3 / 3;
}

#main
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/4;
    background-color: rgb(78, 40, 4);
}

#middleLeft
{
    grid-column: 1/1;
    background-color: darkorange;
}
#middleMiddle
{
    grid-column: 2/2;
    background-color: darkorange;

}
#middleRight
{
    grid-column: 3/3;
    background-color: darkorange;

}

#bottomLeft
{

}
#bottomMiddle
{


}
#bottomRight
{

}
